{{ define "title" }}
<div class="page-banner standard">
  <div class="container">
    <div class="page-banner--title">
      <h1>{{ i18n "tagged-with" }}: {{ .Title }}</h1>
    </div>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container">
  <div class="row">
    <section class="col-md-8">
      <ul id ="blog-list-result" class="blogpost-list">
        {{ $currentTag := .Title}}
        {{ $counter := 0}}
        {{ range .Pages }}
        {{ if in .Params.tags $currentTag }}
        {{ $counter = add $counter 1}}
        
        <li class="post {{ if gt $counter 6}}hidden-post{{ end }}">
          <article class="post-container">
            <div class="text-container">
              <div style="margin-top: 1rem;">
                <h2 style="font-size: 2.2rem; font-weight:600;">
                  <a href="{{ .Permalink }}" class="blog-title">
                    {{ .Title | markdownify }}
                  </a>
                </h2>
              </div>
              <div class="date">
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "January 2, 2006" }}</time>
              </div>
              <div class="author">
                <span>{{ .Params.author }}</span>
              </div>
              <div class="summary">
                <p>{{ .Params.description }}</p>
              </div>
              <gcds-button size="small" button-role="secondary" button-id="read-full-post-btn" type="link" href="{{ .Permalink }}">
                {{ i18n "read-more" }}
                <gcds-sr-only tag="span">: {{ .Title }}</gcds-sr-only>
                <gcds-icon name="chevron-right" size="inherit"></gcds-icon>
              </gcds-button>
              <div class="tags">
                <p><b>{{ i18n "topics" }}:</b>&nbsp;
                  {{ $tags := .Params.tags }}
                  {{ range $index, $tag := $tags }}
                  <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' target="_self">{{ . }}</a>{{ if ne (add $index 1) (len $tags) }}, {{ end }}
                  {{ end }}
                </p>
              </div>
            </div>
          </article>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      {{ if and $currentTag (gt (len (where .Pages "Params.tags" "intersect" (slice $currentTag))) 6)}}
      <div class="container" style="display: flex; flex-direction: column;">
        <div style="margin-left: auto; margin-right: auto; margin-bottom: 2rem;">
          <gcds-button id="tags-blog-btn" button-id="tags-load-more-blog-btn">{{ i18n "load-more"}} <gcds-icon name="fa-solid fa-chevron-right fa-rotate-90"></gcds-icon></gcds-button>
        </div>
      </div>
      {{ end }}
    </section>
    <aside class="col-md-4">
      <div class="container">
        <div class="row">
          <h2 class="h3" style="margin-top: 4rem;">{{ i18n "view-tags" }}</h2>
          <ul class="blogpost-list lst-spcd">
            {{ range .Site.Taxonomies.tags }}
            <li>
              <a href="{{ .Page.RelPermalink }}" target="_self">{{ .Page.Title }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>
{{ end }}