////////////////////////////////////////////////////////////
//
// CDS Service and Delivery Toolkit LOGO
//
////////////////////////////////////////////////////////////

.cds-toolkit-logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  height: 2.78rem;
  width: 13.88rem;
  display: block;

  // BILINGUAL SPECIFIC CDS LOGO
  &.en {
    background-image: url("../img/toolkit/cds-toolkit-logo-blk-en.svg");
  }

  &.fr {
    background-image: url("../img/toolkit/cds-toolkit-logo-blk-fr.svg");
  }
}


.topic-nav-mobile-heading {
  font: var(--gcds-side-nav-heading-font);
  margin-block-end: var(--gcds-side-nav-heading-margin);
  margin-top: 0;
}

@media only screen and (min-width: 64em) {
  .topic-nav-mobile-heading {
    display: none;
  }
}