<gcds-footer
  id="footer-id"
  display="full"
  contextual-heading="{{ i18n "footer-heading" }}"
  contextual-links='{ "{{ i18n "footer-contact-us" }}": "mailto:cds-snc@servicecanada.gc.ca", "{{ i18n "footer-jobs" }}": "{{ i18n "footer-jobs-link" }}" }'
  class="footer"
  sub-links='{"{{ i18n "footer-terms" }}": "{{ i18n "footer-terms-link" }}", "{{ i18n "footer-privacy" }}": "{{ i18n "footer-privacy-link" }}", "{{ i18n "footer-security" }}" :"{{ i18n "footer-security-link" }}", "{{ i18n "footer-visit-canada-ca" }}": "{{ i18n "footer-visit-canada-ca-link" }}"}'>
</gcds-footer>