{{ $currentLang := .Language.Lang }}
<gcds-header lang-href="#" skip-to-href="#wb-cont">
    {{ range .Translations }}
    <gcds-lang-toggle slot="toggle" href="{{ .Permalink }}" href-lang='{{ if eq $currentLang "en" }}fr{{ else }}en{{ end }}'></gcds-lang-toggle>
    {{ end }}

    <gcds-top-nav label="{{ i18n "topnavigation" }}" alignment="right" slot="menu">
        <gcds-nav-link href="{{ .Site.BaseURL | absLangURL }}" lang="{{ .Language }}"  slot="home" id="cds-logo">
          <span class="cds-logo {{ .Site.Language.Lang }}"></span>
          <gcds-sr-only tag="span">{{ i18n "aria-cds-website" }}</gcds-sr-only>
        </gcds-nav-link>
        {{ $title := .Params.title }}
        {{ range $menu := .Site.Menus.main }}
        <gcds-nav-link href="{{ .URL | relLangURL }}" data-gc-analytics-navigation="header:Canadian Digital Service: {{ .Name }}" {{ if eq $title .Identifier }}current{{ end }}>{{ .Name }}</gcds-nav-link>
        {{ end }}
    </gcds-top-nav>

    {{ partial "breadcrumb.html" . }}
</gcds-header>