{{/* This partial is used to render the breadcrumbs for the Service & Digital Toolkit section. */}}

<nav class="container breadcrumbs">
    <gcds-breadcrumbs>
        <gcds-breadcrumbs-item href='{{ i18n "toolkit-landing-url" }}'>{{ i18n "toolkit-name" }}</gcds-breadcrumbs-item>
        {{ if .CurrentSection }}
            {{ if and (ne .CurrentSection.RelPermalink ( i18n "toolkit-landing-url" ) ) (ne .CurrentSection.RelPermalink .RelPermalink) }}
                <gcds-breadcrumbs-item href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</gcds-breadcrumbs-item>
            {{ end }}
        {{ end }}
    </gcds-breadcrumbs>
</nav>