{{/* 
This is a variation header for the Service Digital Toolkit. It includes the S&D Toolkit logo, a dropdown menu for topics, and a link to the About page.
*/}}

{{ $currentLang := .Language.Lang }}
{{ $section := cond (eq $currentLang "en") "service-digital-toolkit" "les-outils-du-numeriques-et-de-services" }}
{{ $aboutPath := cond (eq $currentLang "en") "/service-digital-toolkit/about/" "/les-outils-du-numeriques-et-de-services/a-propos/" }}
{{ $topicsLabel := cond (eq $currentLang "en") "Topics" "Sujets" }}

<gcds-header lang-href="#" skip-to-href="#wb-cont">
    {{ range .Translations }}
    <gcds-lang-toggle slot="toggle" href="{{ .Permalink }}" href-lang='{{ if eq $currentLang "en" }}fr{{ else }}en{{ end }}'></gcds-lang-toggle>
    {{ end }}

    <gcds-top-nav label='{{ cond (eq $currentLang "en") "Top navigation" "Navigation principale" }}' alignment="right" slot="menu">
        <gcds-nav-link href="/{{ $section }}/" lang="{{ .Language }}" class="cds-toolkit-logo {{ .Site.Language.Lang }}" slot="home" slot="left" aria-label='{{ i18n "aria-cds-website" }}' id="cds-toolkit-logo" ></gcds-nav-link>

        <!-- Topics Dropdown -->
        <gcds-nav-group open-trigger="{{ $topicsLabel }}" menu-label="{{ $topicsLabel }}">
            {{ range where (where .Site.Pages "Section" $section) "Kind" "section" }}
                {{ if ne .RelPermalink (printf "/%s/" $section) }}
            <gcds-nav-link href="{{ .RelPermalink }}">{{ .Title }}</gcds-nav-link>
                {{ end }}
            {{ end }}
        </gcds-nav-group>

        <!-- About link -->
        <gcds-nav-link href="{{ $aboutPath }}">{{ cond (eq $currentLang "en") "About" "À propos" }}</gcds-nav-link>
    </gcds-top-nav>
     <gcds-breadcrumbs slot="breadcrumb">
        <gcds-breadcrumbs-item href={{ .Site.BaseURL | absLangURL }}> {{ i18n "canadian-digital-service" }}</gcds-breadcrumbs-item>
        <gcds-breadcrumbs-item href='{{ i18n "toolkit-landing-url" }}'>{{ i18n "toolkit-name" }}</gcds-breadcrumbs-item>
        {{ if .CurrentSection }}
            {{ if and (ne .CurrentSection.RelPermalink ( i18n "toolkit-landing-url" ) ) }}
                <gcds-breadcrumbs-item href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</gcds-breadcrumbs-item>
            {{ end }}
        {{ end }}
        
     </gcds-breadcrumbs>
</gcds-header>