{{ define "title"}}
    <div class="page-banner sorry-error">
        <div class="container">
            <div class="page-banner--title">
                <gcds-heading tag="h1">{{ i18n "not-found" }}</gcds-heading>
            </div>
        </div>
    </div>
{{ end }}

{{ define "main"}}
    <div class="container">
        <div class="col-md-10 form-sub-section">
            {{ $path := printf "%s%s%s" "404." (string ($.Site.Language)) ".html" }}
            {{ partial  $path }}
        </div>
    </div>
{{ end }}