{{ define "renderSection" }}
{{ $sectionTitle := .sectionTitle }}
{{ $products := .products }}
{{ if $products }}
  <section class="container mrgn-tp-md mrgn-bttm-lg">
    <h2 class="mrgn-tp-md">{{ $sectionTitle }}</h2>
    
    <!-- Group products into rows of 2 -->
    {{ $rowCount := div (len $products) 2 }}
    {{ if ne (mod (len $products) 2) 0 }}
      {{ $rowCount = add $rowCount 1 }}
    {{ end }}
    <gcds-grid columns="1fr 1fr" equal-row-height gap="40">
      {{ range $row_index := seq 0 (sub $rowCount 1) }}
        {{ $startIdx := mul $row_index 2 }}
        {{ $endIdx := math.Min (add $startIdx 2) (len $products) }}
        
        {{ range $i := seq $startIdx (sub $endIdx 1) }}
        {{ with index $products $i }}
        {{ if ne .Params.description nil }}
          <gcds-card card-title="{{ .Params.title }}" href="{{ .Params.link }}" description="{{ .Params.description }}"
          data-gc-analytics-exit="{{ .Params.title }}"></gcds-card>
        {{ end }}
        {{ end }}
        {{ end }}
      {{ end }}
    </gcds-grid>
  </section>
{{ end }}
{{ end }}

{{ define "index" }}
<!-- Illustrations by StorySet - https://storyset.com/` -->
<section class="partnership-products">
  <h2 class="wb-inv">{{ i18n "homepage-section-title" }}</h2>
  {{ $home_products := where .Site.Pages "Section" "==" "our-products" }}
  
  {{ $sectionOne := slice }}
  {{ $sectionTwo := slice }}
  {{ $sectionThree := slice }}
  {{ $sectionFour := slice }}
  
  {{ range $home_products }}
    {{ if and (ge .Weight 2) (le .Weight 3) }}
      {{ $sectionOne = $sectionOne | append . }}
    {{ else if and (ge .Weight 4) (le .Weight 6) }}
      {{ $sectionTwo = $sectionTwo | append . }}
    {{ else if and (ge .Weight 7) (le .Weight 8) }}
      {{ $sectionThree = $sectionThree | append . }}
    {{ else if and (ge .Weight 9) (le .Weight 10) }}
      {{ $sectionFour = $sectionFour | append . }}
    {{ end }}
  {{ end }}

  {{ template "renderSection" (dict "sectionTitle" (i18n "homepage-section-title-one") "products" $sectionOne) }}
  {{ template "renderSection" (dict "sectionTitle" (i18n "homepage-section-title-two") "products" $sectionTwo) }}
  {{ template "renderSection" (dict "sectionTitle" (i18n "homepage-section-title-three") "products" $sectionThree) }}
  {{ template "renderSection" (dict "sectionTitle" (i18n "homepage-section-title-four") "products" $sectionFour) }}

  <div>
    <div class="first-list">
      <div class="container">
        <!--  -->
        <div class="row built-by" >
          <div class="col-xs-12">
            <img src="/img/cds/homepage-built-by-gov.svg" alt='{{ i18n "homepage-built-by-image-alt" }}' />
          </div>

          <div class="col-xs-12">
            <h3>{{ i18n "homepage-built-by-title" }}</h3>
            <ul>
              <li> {{ i18n "homepage-built-by-list-one" }}</li>
              <li> {{ i18n "homepage-built-by-list-two" }}</li>
              <li> {{ i18n "homepage-built-by-list-three" }}</li>
              <li> {{ i18n "homepage-built-by-list-five" }}</li>
              <li> {{ i18n "homepage-built-by-list-six" }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}