{{ $columnsDesktop := "1fr 1fr 1fr" }}

{{ if isset $.Page.Params "topic" }}
    {{ $columnsDesktop = "1fr 1fr" }}
{{ end }}

<gcds-grid tag="article" columns-desktop={{ $columnsDesktop }} columns-tablet="1fr 1fr" columns="1fr">
    {{ range where .Site.RegularPages ".Params.Topic" .Params.topics }}

        {{ $imgCard := .Params.Topic }}
        {{ if eq .Params.Topic "toolkit" }}
            {{ $imgCard = .Params.ContentType }}
        {{ end }}

        <gcds-card
            card-title-tag="h3"
            card-title="{{ .Title }}"
            href="{{ .Permalink }}"
            description="{{ .Description }}"
            img-src="/img/toolkit/topics/{{ $imgCard }}.svg"
            img-alt="alt for this image"
        >
        </gcds-card>
    {{ end }}
</gcds-grid>