{{ define "main" }}

<gcds-grid tag="article" columns-desktop="1fr 3fr" columns-tablet="1fr" columns="1fr">
  
  {{ partial "toolkit-topic-nav.html" . }}
  
  <gcds-container tag="main">
    <gcds-heading tag="h1">{{ .Title }}</gcds-heading>
    {{ .Content }}
    
    <!-- List child pages -->
    <section>
      <gcds-heading tag="h2">{{ i18n "toolkit-resources" }}</gcds-heading>
        
      <gcds-grid columns="1fr" columns-desktop="1fr 1fr" columns-tablet="1fr">
        {{ range .Pages }}
        <gcds-card
        card-title="{{ .Title }}"
        href="{{ .RelPermalink }}"
        card-title-tag="h3"
        description="{{ .Description }}"
        ></gcds-card>
        {{ end }}
      </gcds-grid>
    </section>
    
    {{ if .Params.tools }}
    {{ partial "toolkit-tools.html" (dict "section_title" .Params.tools_section_title "context" . "Params" .Params "has_sidenav" true) }}
    {{ end }}
    
    {{ if .Params.blog_posts }}
    {{ partial "toolkit-related-blog-posts.html" (dict "section_title" .Params.blog_posts_section_title "context" . "Params" .Params "has_sidenav" true) }}
    {{ end }}
    
    {{ partial "toolkit-feedback.html" . }}

    {{ partial "toolkit-date.html" (dict "context" . "Params" .Params) }}
    
  </gcds-container>
  
</gcds-grid>
{{ end }}