{{ define "baseof" }}
  {{ template "toolkit/baseof.html" . }}
{{ end }}

{{ define "main" }}
    <gcds-grid columns="1fr 3fr" columns-desktop="1fr 3fr" columns-tablet="1fr">

        {{ partial "toolkit-subtopic-nav.html" . }}
        
        <gcds-container tag="main">
            <gcds-heading tag="h1">{{ .Title }}</gcds-heading>
            <gcds-text>{{ .Params.Description }}</gcds-text>
            {{ .Content }}
            {{ partial "toolkit-feedback.html" . }}
            {{ partial "toolkit-date.html" (dict "context" . "Params" .Params) }}
        </gcds-container>
    </gcds-grid>
{{ end }} 