{{ define "main" }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul id ="blog-list-result" class="blogpost-list">
                    <li id="my-blog-li" class="post"></li>
                </ul>


            </div>
            <div class="col-md-4">
                <aside>
                    <div class="container">
                        <div class="row">
                            <h2 class="h3" style="margin-top: 4rem;">{{ i18n "view-tags" }}</h2>
                            <ul class="blogpost-list lst-spcd">
                                {{ range .Site.Taxonomies.tags }}
                                <li>
                                    <a href="{{ .Page.RelPermalink }}" target="_self">{{ .Page.Title }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </aside>

        </div>



    </div>
    <div class="container" style="display: flex; flex-direction: column;">
        <div style="margin-left: auto; margin-right: auto; margin-bottom: 2rem;">
            <gcds-button id="blog-btn" button-id="load-more-blog-btn">{{ i18n "load-more"}} <gcds-icon
                    name="fa-solid fa-chevron-right fa-rotate-90"></gcds-icon></gcds-button>
        </div>
    </div>
</section>
{{ end }}