{{ define "main" }}
<div class="container">

  <section class="padding" style="margin-top: 2.5rem;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <p>At the <a href="/about/">Canadian Digital Service</a> (CDS) our mandate is to help government improve the way it designs and delivers
          services to people in
          Canada. We believe that public services should be easy to use, secure, reliable, accessible and inclusive for
          everyone – and we want your help!</p>

      </div>
    </div>
  </section>

</div>
<div>
  <div class="container job-postings-container">
    <section class="padding">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          {{.Content}}
        </div>

      </div>
    </section>

  </div>
</div>



{{ end }}