{{ define "main" }}
<div class="container">

  <section class="padding" style="margin-top: 2.5rem;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Au <a href="/a-propos/">Service numérique canadien</a> (SNC), notre mission est d’aider le gouvernement à
          améliorer la façon dont il
          conçoit et fournit ses services au Canada. Nous sommes d’avis que les services publics doivent être
          conviviaux, sécurisés, fiables, accessibles et inclusifs : ils doivent fonctionner pour tout le monde. C’est
          pourquoi nous sollicitons votre aide!</p>
      </div>
    </div>
  </section>

</div>

<div>
  <div class="container job-postings-container">
    <section>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          {{.Content}}
        </div>

      </div>
    </section>

  </div>
</div>

{{ end }}